{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h2 class="mb-4">
    Research Dashboard
</h2>

<div class="card shadow mb-4">
    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-primary">
                Create Research Session
            </button>

        </form>

    </div>
</div>

<div class="card shadow">
    <div class="card-body">

        <h4>
            Previous Sessions
        </h4>

        <hr>

        {% for session in sessions %}

        <div class="card shadow mb-3">

            <div class="card-body">

                <h5>
                    {{ session.topic }}
                </h5>

                <small class="text-muted">
                    {{ session.created_at }}
                </small>

                {% if session.status == "completed" %}

                <span class="badge bg-success">
                    Completed
                </span>

                {% else %}

                <span class="badge bg-warning text-dark">
                    Pending
                </span>

                {% endif %}

                <br><br>

                <a href="{% url 'session_detail' session.id %}"
                   class="btn btn-primary btn-sm">

                    View Details

                </a>

            </div>

        </div>

        {% empty %}

            <p>
                No research sessions yet.
            </p>

        {% endfor %}

    </div>
</div>

{% endblock %}