{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h2 class="mb-4">
    Research Dashboard
</h2>

<div class="card shadow mb-4">
    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-primary">
                Create Research Session
            </button>

        </form>

    </div>
</div>

<div class="card shadow">
    <div class="card-body">

        <h4>
            Previous Sessions
        </h4>

        <hr>

        {% for session in sessions %}

        <div class="card shadow mb-3">

            <div class="card-body">

                <h5>
                    {{ session.topic }}
                </h5>

                <small class="text-muted">
                    {{ session.created_at }}
                </small>

                <hr>

                <h6>
                    Generated Research Plan
                </h6>

                <pre class="bg-light p-3 rounded">
{{ session.plan }}
                </pre>

                <hr>

                {% if not session.research_content %}

                <a href="{% url 'generate_research' session.id %}"
                   class="btn btn-success btn-sm">

                    Generate Research

                </a>

                {% endif %}

                <h6>
                    Research Content
                </h6>

                <div class="bg-white p-3 border rounded">

                    <pre>
{{ session.research_content }}
                    </pre>

                </div>

            </div>

        </div>

        {% empty %}

            <p>
                No research sessions yet.
            </p>

        {% endfor %}

    </div>
</div>

{% endblock %}