<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Multi-Agent Research Assistant{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

    {% load static %}

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">

        <a class="navbar-brand fw-bold" href="/">
            Multi-Agent Research Assistant
        </a>

        <div class="ms-auto d-flex align-items-center">

            {% if user.is_authenticated %}

                <span class="text-secondary me-3">
                    {{ user.username }}
                </span>

                <a href="{% url 'logout' %}"
                   class="btn btn-outline-dark btn-sm">
                    Logout
                </a>

            {% else %}

                <a href="{% url 'login' %}"
                   class="btn btn-outline-primary btn-sm me-2">
                    Login
                </a>

                <a href="{% url 'register' %}"
                   class="btn btn-primary btn-sm">
                    Register
                </a>

            {% endif %}

        </div>

    </div>
</nav>

<div class="container mt-5">

    {% block content %}
    {% endblock %}

</div>

</body>
</html>
